<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.dao.SecurityAuthorityDao">

	<select id="selectSecurityAuthorityList"  resultType="Map">
		select * from t_security_authority t1 left join t_security_authority_url t2 on t1.AUTH_CODE=t2.AUTH_CODE left join t_url t3 on t2.URL_CODE=t3.URL_CODE
	</select>
	
</mapper>
