<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bz.dao.AuthorityDao">

	<resultMap id="authorityMap" type="com.bz.model.Authority">
		<id property="authId" column="authId" />
		<result property="authName" column="authName" />
		<result property="authCode" column="authCode" />
		<collection property="urlList" ofType="com.bz.model.Url"
			select="selectUrlListByAuthCode" column="authCode"></collection>
	</resultMap>

	<select id="selectAuthorityList" resultMap="authorityMap"
		parameterType="Map">
		select T1.AUTH_ID AS
		authId,
		T1.AUTH_NAME AS authName,
		T1.AUTH_CODE AS
		authCode
		from
		AUTHORITY
		T1
		<if test="roleCode!=null">
			,ROLE_AUTHORITY T2 WHERE T1.AUTH_CODE=T2.AUTH_CODE AND T2.ROLE_CODE=#{roleCode}
		</if>
	</select>

	<select id="selectUrlListByAuthCode" resultType="com.bz.model.Url">
		select
		T1.URL_ID
		AS urlId,
		T1.URL AS url,
		T1.URL_TYPE AS urlType,
		T1.URL_NAME AS urlName,
		T1.URL_EN_NAME AS urlEnName,
		T1.URL_CODE AS urlCode
		from
		url
		T1,authority_url t2 where T1.URL_CODE=t2.URL_CODE AND
		T2.AUTH_CODE=#{authCode}
	</select>

</mapper>
