<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.dao.UserMasterDao">



	<select id="countUserMaster" parameterType="HashMap" resultType="int">
		select count(ID) FROM USER_MASTER WHERE
		REAL_NAME=#{realName} OR
		IDENTITY=#{identity} OR MOBILE=#{mobile}

	</select>


</mapper>
